$black: #000000;


@mixin sprite($alias: '') {
  background-image: url(../images/ico-sprite.png);
  background-repeat: no-repeat;
  background-size: auto 36px;

  @if $alias == 'cross-white' { background-position: 0 -20px; }
}
