$black: #000000;


@mixin sprite($alias: '') {
  background-image: url(../images/ico-sprite.png);
  background-repeat: no-repeat;
  background-size: auto 36px;

  @if $alias == 'cross-white'       { background-position: 0 -20px; }
  @if $alias == 'cross-black'       { background-position: -67px -20px; }
  @if $alias == 'left-menu-opener'  { background-position: -320px -17px; }
  @if $alias == 'right-search'      { background-position: -56px 0; }
  @if $alias == 'menu-logo'         { background-position: -345px 0; }

  @if $alias == 'menu-shop'         { background-position: -10px -20px; }
  @if $alias == 'menu-cart'         { background-position: -25px -20px; }
  //@if $alias == 'menu-cart-gray'    { background-position: -25px -120px; }
  @if $alias == 'menu-profile'      { background-position: -123px -14px; }
  @if $alias == 'menu-orders'       { background-position: -137px 0; }
  @if $alias == 'menu-payments'     { background-position: -151px 0; }
  @if $alias == 'menu-addresses'    { background-position: -137px -14px; }
  @if $alias == 'menu-freeorders'   { background-position: -148px -14px; }
  @if $alias == 'menu-help'         { background-position: -165px 0; }
  @if $alias == 'flag-fr'           { background-position: -306px -23.5px; }
  @if $alias == 'flag-de'           { background-position: -291px -23.5px; }
  @if $alias == 'flag-us'           { background-position: -277px -23.5px; }
  @if $alias == 'flag-uk'           { background-position: -263px -23.5px; }
  @if $alias == 'flag-fr2'          { background-position: -306px -22.5px; }
  @if $alias == 'flag-de2'          { background-position: -291px -22.5px; }
  @if $alias == 'flag-us2'          { background-position: -277px -22.5px; }
  @if $alias == 'flag-uk2'          { background-position: -263px -22.5px; }


  @if $alias == 'ico-up'            { background-position: -53px -20px; }
  @if $alias == 'ico-down'          { background-position: -39px -20px; }
  @if $alias == '>'                 { background-position: -179px 0; }

  @if $alias == 'card-visa'         { background-position: -252px 0; }
  @if $alias == 'card-amex'         { background-position: -278px 0; }
  @if $alias == 'card-mastercard'   { background-position: -304px 0; }
  @if $alias == 'card-paypal'       { background-size: auto 35px !important; background-position: -171px -19px;}
}
