@import "pages/splash";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "_vars.scss";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


@import "components/loader";
@import "components/header";
@import "components/form";
@import "components/loader-directive";
@import "components/menu-top";
@import "components/menu-left";
@import "components/menu-right";
@import "components/btn-list-link";
@import "components/recap-order";
@import "components/products";
@import "components/infinite-scroll";
@import "components/cart-footer";
@import "components/address-list";
@import "components/player_video";

@import "pages/login";
@import "pages/product";
@import "pages/home-page";
@import "pages/cms";
@import "pages/free-order";


body.gray {
  background-color: #f6f7f9;
  font-family: "Open Sans", Arial, serif;
  padding-top: 56px;
}

.modal-gray {
  background-color: #f6f7f9;
  .modal-body.no-padding {
    padding: 0;
  }
}

body .smartbanner {
    z-index: 9989;
  top: 57px;
}
