<div ui-view>
  <menu-top menu-title="title" disabled-cart-footer="1" back-enabled="/cart/billing-address-list" error="error"></menu-top>
  <div loader ng-show="loading"></div>
  <form role="form" name="form_address" ng-submit="submitForm()">
    <fieldset>
      <legend>{{'cart.delivery.create_placeholder'|translate}}</legend>

      <div class="form-group">
        <div class="input-container">
          <input type="text" class="form-control" required="required" name="firstname" ng-model="firstname" placeholder="{{'cart.delivery.firstname'|translate}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <input type="text" class="form-control" required="required" name="lastname" ng-model="lastname" placeholder="{{'cart.delivery.lastname'|translate}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <input type="text" class="form-control" required="required" name="street" ng-model="street" placeholder="{{'cart.delivery.address'|translate}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <input type="text" class="form-control" name="street1" ng-model="street1" placeholder="{{'cart.delivery.address2'|translate}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <input type="text" class="form-control" required="required" name="postcode" ng-model="postcode" placeholder="{{'cart.delivery.postcode'|translate}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <input type="text" class="form-control" required="required" name="city" ng-model="city" placeholder="{{'cart.delivery.city'|translate}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <input type="tel" class="form-control" name="telephone" ng-model="telephone" placeholder="{{'cart.delivery.tel'|translate}}" />
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>&nbsp;</legend>
      <div class="form-group switch-btn">
        <div class="input-container">
          <span ng-click="use_for_billing=!use_for_billing">{{'cart.delivery.use_for_billing'|translate}}</span>
          <switch name="use_for_billing" ng-model="use_for_billing" class="green"></switch>
        </div>
      </div>
    </fieldset>

    <input class="btn-big-action submit" type="submit" value="{{'form.submit'|translate}}" />
  </form>
  <tracking data="{type:'cart-delivery-address-create', id: -1}" type="all"></tracking>
</div>
