<div>
  <menu-top menu-title="title" disabled-cart-footer="1" back-enabled="/connexion" error="error"></menu-top>
  <div loader ng-show="loading"></div>
  <div class="success-message-white" ng-if="success">
    <span>{{ success|translate:translateData  }}</span>
  </div>
  <form role="form" name="lostpass_form" novalidate ng-submit="submitForm()">
    <fieldset>
      <legend>{{'lostpass.form.legend'|translate}}</legend>

      <div class="form-group">
        <div class="input-container input-container-picto">
          <input type="email" class="form-control" name="email" ng-model="email" placeholder="{{'lostpass.form.email.placeholder'|translate}}" />
          <a class="picto picto-required" href="javascript:;" ng-show="lostpass_form.email.$error.email || !email.length"></a>
        </div>
      </div>
    </fieldset>
    <input type="submit" class="btn-big-action" value="{{'form.submit'|translate}}" />
  </form>
  <tracking data="{type:'auth-lostpassword'}" type="all"></tracking>
</div>
