<a href="#" class="left-menu-opener"></a>
<div class="menu-left">
  <ul>
    <li data-close-menu-left class="home-page-btn"><a ui-sref="app.store"></a></li>
    <li data-close-menu-left class="home"><a ui-sref="app.store">{{'menu.home'|translate}}</a></li>
    <li data-close-menu-left class="cart"><a ui-sref="app.cart">{{'menu.cart'|translate}} <span class="pull-right">{{nbProduct}}</span></a></li>
    <li data-close-menu-left ng-hide="User.isLoggued()" class="profile"><a     ui-sref="app.auth">{{'menu.login'|translate}}</a></li>
    <li data-close-menu-left ng-show="User.isLoggued()" class="profile"><a     ui-sref="app.my-account">{{'menu.profile'|translate}}</a></li>
    <li data-close-menu-left ng-show="User.isLoggued()" class="orders"><a      ui-sref="app.my-account.orders">{{'menu.orders'|translate}}</a></li>
    <li data-close-menu-left ng-show="User.isLoggued()" class="payments"><a    ui-sref="app.my-account.cards">{{'menu.payments'|translate}}</a></li>
    <li data-close-menu-left ng-show="User.isLoggued()" class="addresses"><a   ui-sref="app.my-account.addresses">{{'menu.addresses'|translate}}</a></li>
    <li data-close-menu-left ng-show="User.isLoggued()" class="free-orders"><a ui-sref="app.my-account.free-orders">{{'menu.free_orders'|translate}}</a></li>
    <li data-close-menu-left class="help"><a ui-sref="app.page({slug: 'faq'})">{{'menu.help'|translate}}</a></li>
    <li data-close-menu-left class="help"><a ui-sref="app.page({slug: 'conditions-generales-de-vente'})">{{'menu.cgv'|translate}}</a></li>

    <li data-close-menu-left class="help"><a ui-sref="app.store({store: 'fr'})">FR</a></li>
    <li data-close-menu-left class="help"><a ui-sref="app.store({store: 'de'})">de</a></li>
    <li data-close-menu-left class="help"><a ui-sref="app.store({store: 'uk'})">UK</a></li>
    <li data-close-menu-left class="help"><a ui-sref="app.store({store: 'us'})">US</a></li>
  </ul>
</div>
