<a href="javascript;:" class="left-menu-opener"></a>
<div class="menu-left">
  <ul>
    <li>{{'menu.title'|translate}}</li>
    <li class="cart"><a href="javascript:;">{{'menu.cart'|translate}}</a></li>
    <li class="profile"><a href="javascript:;">{{'menu.profile'|translate}}</a></li>
    <li class="orders"><a href="javascript:;">{{'menu.orders'|translate}}</a></li>
    <li class="payments"><a href="javascript:;">{{'menu.payments'|translate}}</a></li>
    <li class="addresses"><a href="javascript:;">{{'menu.addresses'|translate}}</a></li>
    <li class="free-orders"><a href="javascript:;">{{'menu.free_orders'|translate}}</a></li>
    <li class="help"><a href="javascript:;">{{'menu.help'|translate}}</a></li>
    <li class="profile"><a href="#/logout">{{'menu.logout'|translate}}</a></li>
  </ul>
</div>
