<a href="javascript;:" class="left-menu-opener"></a>
<div class="menu-left">
  <ul>
    <li>{{'menu.title'|translate}}</li>
    <li class="home"><a href="#/">{{'menu.home'|translate}}</a></li>
    <li class="cart"><a href="#/cart">{{'menu.cart'|translate}} <span class="pull-right">{{nbProduct}}</span></a></li>
    <li ng-hide="User.isLoggued()" class="profile"><a href="#/login">{{'menu.login'|translate}}</a></li>
    <li ng-show="User.isLoggued()" class="profile"><a href="#/my-account/profile">{{'menu.profile'|translate}}</a></li>
    <li ng-show="User.isLoggued()" class="orders"><a href="#/my-account/orders">{{'menu.orders'|translate}}</a></li>
    <li ng-show="User.isLoggued()" class="payments"><a href="#/my-account/cards">{{'menu.payments'|translate}}</a></li>
    <li ng-show="User.isLoggued()" class="addresses"><a href="#/my-account/addresses">{{'menu.addresses'|translate}}</a></li>
    <li ng-show="User.isLoggued()" class="free-orders"><a href="#/my-account/free-orders">{{'menu.free_orders'|translate}}</a></li>
    <li ng-show="User.isLoggued()" class="help"><a href="#/my-account/help">{{'menu.help'|translate}}</a></li>
    <li ng-show="User.isLoggued()" class="profile"><a href="#/logout">{{'menu.logout'|translate}}</a></li>
  </ul>
</div>
