.address-list {
  font-family: "Open Sans", Arial, serif;
  font-size: 15px;
  margin: 20px 10px;
  border: 1px solid #c0c0c0;
  background: white;

  .item-wrapper-loader {
    display: block;
    position: relative;
    padding: 10px 0;
    background: rgba(0,0,0,0.5);
    .loader {
      margin: auto;
      display: block;
    }
  }

  .item {
    &:hover {
      background-color: #e8e8e8;
    }
    height: 50px;
    display: block;
    border-bottom: 1px solid #c0c0c0;
    line-height: 50px;
    color: black;
    clear: both;
    &:last-child {
      border-bottom: none;
      text-transform: uppercase;
    }
    position: relative;
    i.picto-plus {
      @include sprite;
      display: block;
      width: 14px;
      background-position: -187px 0;
      height: 14px;
      top: 18px;
      position: absolute;
      left: 12px;
    }
    i.picto-marker {
      @include sprite;
      display: block;
      width: 11px;
      background-position: -137px -14px;
      height: 14px;
      top: 18px;
      position: absolute;
      left: 12px;
      opacity: 0.4;
    }
    i.picto-arrow-right {
      @include sprite;
      display: block;
      width: 8px;
      height: 14px;
      background-position: -179px 0;
      top: 18px;
      position: absolute;
      right: 12px;
      opacity: 0.4;
    }
    span {
      position: absolute;
      left: 40px;
      top: 0;
      bottom: 0;
      right: 40px;
      display: block;
      line-height: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
