body.has-cart-footer {
  padding-bottom: 60px;
}

.cart-promo-submit {
  position: fixed;
  z-index: 999999;
  background-color: #2e87d0;
  font-size: 20px !important;
  color: white !important;
  text-transform: uppercase;
  left: 0;
  font-weight: 300;
  right: 0;
  bottom: 0;
  height: 56px;
  line-height: 56px;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}

.cart-footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #2e87d0;
  font-size: 15px;
  color: white;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;

  .text-left {
    height: 56px;
    line-height: 56px;
    font-weight: 100;
    float: left;
  }

  .text-right {
    height: 56px;
    line-height: 56px;
    float: right;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    text-decoration: none;
  }
}
