fieldset {
  display: block;
  width: 100%;
  margin: 0;

  font-family: "Open Sans", Arial, serif;
  legend {
    text-transform: uppercase;
    margin: 0;
    color: #c0c0c0;
    font-size: 10px;
    text-indent: 16px;
    line-height: 33px;
    text-align: left;
    border: none;
  }
  .form-group {
    margin: 0;
    background: white;
    &.border-bottom {
      border-bottom: 1px solid #c0c0c0;
    }
    .input-container {
      @extend .clearfix;
      margin-left: 16px;
      border-top: 1px solid #c0c0c0;
      position: relative;
      &.input-container-picto {
        padding-right: 48px;
        .picto {
          position: absolute;
          right: 14px;
          top: 0;
          bottom: 0;
          width: 20px;
          display: block;
          height: 20px;
          @include sprite;
          margin-top: 6px;
          &.picto-required {
            background-position: 0 0;
          }
          &.picto-help {
            background-position: -20px 0;
          }
        }
      }
    }

    &.switch-btn {
      .input-container {
        min-height: 50px;
        line-height: 50px;

        .switch {
          float: right;
          margin-top: 10px;
          margin-right: 15px;
        }
      }
    }


    &:last-child {
      border-bottom: 1px solid #c0c0c0;
    }
    &:first-of-type {
        border-top: 1px solid #c0c0c0;
        .input-container {
          border-top: none;
        }
    }

    input,
    input[readonly] {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      border: none;
      background: white;
      padding: 0;
      width: 100%;
      text-indent: 0;
      color: #464646;
      -webkit-border-radius: 0;
      border-radius: 0;
    }

    ::-webkit-input-placeholder {
      color: #c0c0c0;
    }
    :-moz-placeholder {
      color: #c0c0c0;
      opacity: 1;
    }
    ::-moz-placeholder {
      color: #c0c0c0;
      opacity: 1;
    }
    :-ms-input-placeholder {
      color: #c0c0c0;
    }

  }
}

.form-sepa {
  height: 250px;
}

.btn-big-action {
  &[type="submit"] {
    color: #2e87d0;
    font-size: 15px;
  }
  background: white;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  border-left: none;
  border-right: none;
  text-align: center;
  display: block;
  margin: 22px 0 0 0;
  font-family: "Open Sans", Arial, serif;
  line-height: 43px;
  color: black;
  width: 100%;
  text-decoration: none;

  &.btn-red {
    color: #ec4445;
  }

  &.change-page {
    margin-top: 0;
    text-align: left;
    position: relative;
    text-indent: 15px;
    &:after {
      position: absolute;
      right: 15px;
      top: 16px;
      content: '';
      height: 14px;
      width: 8px;
      @include sprite;
      background-position: -179px 0;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &.facebook-connect span {
    color: #448bec;
    position: relative;
    text-decoration: none;
    &:before {
      content: '';
      display: inline-block;
      height: 18px;
      width: 16px;
      position: absolute;
      left: -22px;
      top: 2px;


      @include sprite;
      background-position: -40px 0;
    }
  }
}

.help-block {
  padding: 5px 15px;
  color: #c0c0c0;
  font-size: 10px;
  margin: 0;
}
