.menu-top {
  background: white;
  min-height: 56px;
  border-bottom: 1px solid #c0c0c0;
  font-family: "Open Sans", Arial, serif;
  font-size: 15px;
  > span {
    display: block;
    text-align: center;
    line-height: 56px;
    font-size: 18px;
  }

  .menu-drop {
    position: fixed;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 100%;
    &.menu-open {
      bottom: 0;
    }
    background: rgba(0,0,0,0.9);
    color: white;
    text-align: center;
    line-height: 60px;
    overflow: auto;

    .title {
      border-bottom: 1px solid #ffffff;
      position: relative;
      text-transform: uppercase;
      display: block;
      color: white;
      text-decoration: none;
      &:after {
        line-height: 60px;
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 33px;
        font-weight: 100;
      }
    }
    a.title:after {
      display: none;
    }

    .item-close {
      .title:after {
        content: '+';
      }
      .child {
        display: none;
      }
    }

    .item-open {
      .title {
        &:before {
          content: '';
          left: 0;
          top: 0;
          bottom: 0;
          border-left: 3px solid white;
          position: absolute;
        }
        &:after {
          content: '--';
          letter-spacing: -3px;
          right: 18px;
          line-height: 54px;
        }
      }

      .child {
        display: block;
        text-decoration: none;
        border-bottom: 1px solid #ffffff;
        color: rgba(255,255,255,0.5);
      }
    }
  }
}
