html {
  .menu-left {
    .change-country {
      color: #8e8e8e;
      font-size: 70%;
      padding-left: 10px;
    }


    left: -50%;
    @media (max-width: 500px) {
      left: -80%;
    }

    -webkit-transition: left 0.4s;
    transition: left 0.4s;
  }

  body {
    -webkit-transition: margin-left 0.4s, margin-right 0.4s;
    transition: margin-left 0.4s, margin-right 0.4s;
    margin-left: 0;
    margin-right: 0;
  }

  .menu-top,
  .menu-drop,
  .loader-directive,
  .cart-footer,
  .recap-order .valid-cart-btn,
  .recap-order .numbers {
    -webkit-transition: left 0.4s, bottom 0.4s, right 0.4s, top 0.4s;
    transition: left 0.4s, bottom 0.4s, right 0.4s, top 0.4s;
  }
  .menu-hidder {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
  }
  &.left-open {
    body {
      overflow: hidden;
    }
    .menu-left {
      left: 0;
    }

    .menu-hidder {
      left: 50%;
      right: 0;
      @media (max-width: 500px) {
        left: 80%;
        right: 0;
      }
    }
    .menu-top,
    .menu-drop,
    .loader-directive,
    .recap-order .numbers,
    .recap-order .valid-cart-btn,
    .cart-footer {
      left: 50%;
      right: -50%;
      @media (max-width: 500px) {
        left: 80%;
        right: -80%;
      }
    }

    body {
      margin-left: 50%;
      margin-right: -50%;
      @media (max-width: 500px) {
        margin-left: 80%;
        margin-right: -80%;
      }
    }
  }

}



.right-menu-opener,
.left-menu-opener {
  position: relative;
  padding: 18px 20px;
  display: block;
  &:before {
    content:'';
    display: block;
    background-position: -76px 0;
    width: 25px;
    height: 20px;
  }
}
.left-menu-opener:before {
  @include sprite('left-menu-opener');
}
.right-menu-opener:before {
  width: 20px;
  height: 20px;
  @include sprite('right-search');
}
.menu-left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #f6f7f9;
  font-family: 'Open Sans', Arial, serif;
  width: 50%;
  overflow: auto;
  @media (max-width: 500px) {
    width: 80%;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none inside;
    li {
      padding: 0;
      margin: 0;
      display: block;
      color: black;
      a {
        color: inherit;
        text-decoration: none;
      }

      &:first-child {
        &:before {
          display: none;
        }
        height: 57px;
        line-height: 57px;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        color: #cacaca;
        background: white;
        border-bottom: 1px solid #d7d7d7;
        a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          &:before {
            content: '';
            @include sprite('menu-logo');
            position: absolute;
            width: 36px;
            height: 36px;
            left: 50%;
            top: 50%;
            margin-top: -18px;
            margin-left: -18px;
          }
        }
      }
      &.active {
        color: #2e87d0 !important;
      }
      &.cart {
        .pull-right {
          padding-right: 15px;
        }
      }

      &, a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:before {
        content: '';
        float: left;
        width: 14px;
        height: 14px;
        margin-left: 35px;
        margin-top: 18px;
        margin-right: 11px;
      }
      &.home:before {
        @include sprite('menu-shop');
        width: 14.5px;
      }
      &.cart:before {
        @include sprite('menu-cart');
      }
      &.profile:before {
        @include sprite('menu-profile');
      }
      &.orders:before {
        @include sprite('menu-orders');
      }
      &.payments:before {
        @include sprite('menu-payments');
      }
      &.addresses:before {
        @include sprite('menu-addresses');
        margin-right: 14px;
        width: 11px;
      }
      &.free-orders:before {
        @include sprite('menu-freeorders');
      }
      &.help:before {
        @include sprite('menu-help');
      }
      &.fr:before {
        @include sprite('flag-fr');
      }
      &.de:before {
        @include sprite('flag-de');
      }
      &.uk:before {
        @include sprite('flag-uk');
      }
      &.us:before {
        @include sprite('flag-us');
      }
    }
  }
}
