{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>New Color</h1>
        {% include 'RadMagentoConfigBundle:Color:_form.html.twig' %}
    </div>

{% endblock %}
