<div class="recap-order" ng-show="order">
  <h3 class="first">{{'product.products'|translate}}</h3>
  <div class="products">
    <div ng-repeat="item in items" class="product" ui-sref="^.product({productslug: item._product_id + '-' + item.name})">
      <div class="img"><img ng-src="{{item.icon.__text}}"/></div>
      <div class="spec">
        <h2>{{item.name}}</h2>
        <div class="price">{{item.price.including_tax._value}}</div>
        <ul class="infos list-unstyled">
          <li>{{'product.quantity'|translate}} {{item.qty.value.__text ? item.qty.value.__text : 1}}</li>
          <li>{{'product.size'|translate}} {{item.options.option.__text}}</li>
        </ul>
      </div>
    </div>
  </div>


  <form role="form" name="connexion_form">
    <fieldset>
      <legend translate>myaccount.order.payment</legend>
      <span class="no-right btn-big-action change-page"><span translate class="address-details">{{order.payment_method._title}}</span></span>
    </fieldset>
    <fieldset>
      <legend translate>myaccount.order.delivery</legend>
      <span class="no-right btn-big-action change-page"><span translate class="address-details">{{formatAddress(order.shipping_address)}}</span></span>
    </fieldset>
    <fieldset>
      <legend translate>myaccount.order.billing</legend>
      <span class="no-right btn-big-action change-page"><span translate class="address-details">{{formatAddress(order.billing_address)}}</span></span>
    </fieldset>
  </form>

  <div ng-init="open=false" ng-class="{numbers: true, 'numbers-original':true, open: open}" ng-click="open=!open">
    <span class="detail-toggle">{{'cart.details'|translate}}</span>
    <ul class="list-unstyled">
      <li ng-repeat="total in totals" ng-class="{'text-bold':key === 'grand_total'}">{{ total.label }} <span ng-class="{blue: $last}">{{total.val}}</span></li>
    </ul>
  </div>
</div>
