<div>
  <menu-top menu-title="title" disabled-cart-footer="1" back-enabled="-1" error="error"></menu-top>
  <div loader ng-show="loading"></div>
  <form role="form" name="form_address" ng-submit="submitForm()">
    <fieldset>
      <legend>{{'myaccount.profile.addresses_add'|translate}}</legend>

      <magento-address
        firstname="firstname"
        lastname="lastname"
        street="street"
        street1="street1"
        city="city"
        postcode="postcode"
        telephone="telephone"
        state="state"
        country="country"
        validPhone="validPhone"
        updator="validUpdate"
        ></magento-address>
    </fieldset>

    <input class="btn-big-action submit" type="submit" value="{{'myaccount.profile.address_edit_save'|translate}}" />
    <a class="btn-big-action btn-red" ng-click="deleteAddress()" href="javascript:;">{{'myaccount.profile.remove_address'|translate}}</a>
  </form>
  <tracking data="{type:'account-address-edit'}" type="all"></tracking>
</div>
