<menu-top menu-title="title" disabled-cart-footer="1"></menu-top>
<div loader ng-show="loading"></div>
<div class="row" ng-show="error">
  <br />
  <div class="col-xs-10 col-xs-offset-1 alert alert-danger alert-dismissible fade in" data-dismiss="alert" aria-label="Close">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{ error | translate }}
  </div>
</div>

<form role="form" name="form_address" ng-submit="submitForm()" ng-show="card">
  <fieldset>
    <legend>{{'myaccount.profile.card_info'|translate}}</legend>
    <div class="form-group">
      <div ng-class="{'input-container': true, 'card-amex': card.type == 'American Express', 'card-visa': card.type == 'Visa', 'card-mastercard': card.type == 'Mastercard'}">
        <input class="form-control" name="ccNumber" ng-model="number" readonly placeholder="{{'card.number'|translate}}" type="text"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input-container card-month">
        <input class="form-control" ng-model="date" readonly placeholder="{{'card.exp_date'|translate}}" type="text"/>
      </div>
    </div>
  </fieldset>
  <a class="btn-big-action btn-red" ng-click="deleteCard()" href="javascript:;">{{'myaccount.profile.remove_card'|translate}}</a>
</form>
