<div ui-view="">
  <div gray-page>
    <menu-top></menu-top>
    <div loader ng-show="loading||isLoading.val"></div>
    <div class="home-page page-product clearfix">
      <div id="product-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-demo">
          <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-buffered id="carouselIndex">
            <li ng-repeat="insert in carousels track by $index" ng-class="{'item':true, 'active': $index==0}">
              <a ng-if="insert.entity_id != 0" ui-sref="app.store.category({categoryslug: insert.entity_id + '-' + Utils.slugify(insert.name)})">
                <img ng-src="{{ insert.icon.__text }}" rad-rn-fix/>
              </a>
              <a ng-if="Utils.isIOS() && insert.youtube_id == 'Hmnrro2OCME'" href="videos/small_rad.co.mob.mp4" video-player="videos/small_rad.co.mob.mp4" master-loader="isLoading">
                <img ng-src="{{ insert.icon.__text }}" rad-rn-fix />
              </a>
              <a ng-if="insert.youtube_id && !(Utils.isIOS() && insert.youtube_id == 'Hmnrro2OCME')" ng-href="https://www.youtube.com/watch?v={{insert.youtube_id}}" ng-if="insert.youtube_id" target="_blank">
                <img ng-src="{{ insert.icon.__text }}" rad-rn-fix />
              </a>
            </li>
          </ul>
          <div ng-if="carousels.length > 1" rn-carousel-indicators slides="carousels" rn-carousel-index="carouselIndex" class="text-center"></div>
        </div>
      </div>
    </div>
    <div class="home-page">
      <a ng-repeat="insert in inserts"
         class="clearfix"
         ui-sref="app.store.category({categoryslug: insert.entity_id + '-' + Utils.slugify(insert.name)})">
          <span ng-class='{"no-title":1==insert.no_title}'>{{insert.name}}</span>
        <img ng-src="{{ insert.icon.__text }}" />
      </a>
    </div>
  </div>
  <tracking ng-init="tracking={type:'home'}" data="{type:'home'}" type="all"></tracking>
</div>
