<menu-top ng-if="addedToCard"  product="1" menu-title="title" error="error"></menu-top>
<menu-top ng-if="!addedToCard" product="1" menu-title="title" error="error" disabled-cart-footer="1"></menu-top>
<div loader ng-show="loading"></div>
<div class="page-product" ng-if="product">
  <div id="product-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-demo">
      <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-buffered>
        <li ng-repeat="image in images">
          <img ng-src="{{image}}" rad-rn-fix/>
        </li>
      </ul>
      <div ng-if="images.length > 1" rn-carousel-indicators slides="images" rn-carousel-index="carouselIndex" class="text-center"></div>
    </div>
  </div>
  <div class="like-share clearfix hide">
    <span class="number">849</span>
    <span class="share">{{'product.share'|translate}}</span>
  </div>
  <form role="form" class="product-form" ng-submit="addToCart()">
    <h2 class="clearfix">
      <span class="title"><span>{{product.name}}</span></span>
        <span class="price">
          <span ng-show="product.price._special">{{ product.price._special }} <span class="old">{{product.price._regular}}</span></span>
          <span ng-hide="product.price._special">{{ product.price._regular }} </span>
        </span>
    </h2>
    <div ng-repeat="option in options" class="option-chooses">
      <span class="pull-left">{{option._label}}</span>
        <span class="pull-right">
          <span ng-repeat="val in option.value" ng-class="{item: true, 'item-value':true, active: val.active == true}" ng-click="changeOption(option.value, val)">
            {{ val._label }}
          </span>
        </span>
    </div>
    <div class="option-chooses">
      <span class="pull-left">{{'product.quantity'|translate }}</span>
        <span class="pull-right">
          <span ng-click="delQty()" class="item minus"></span>
          <input class="qty" readonly ng-model="quantity" ng-value="quantity" />
          <span ng-click="addQty()" class="item plus"></span>
        </span>
    </div>
    <div class="product-added-success" ng-show="success">
      <div>{{ 'product.succes_add_cart' | translate }}</div>
    </div>
    <div class="add-to-cart"><input type="submit" ng-value="'product.add'|translate"/></div>
    <div class="more-infomations" ng-click="getInfos(product12)">{{'product.more_information'|translate}}</div>
    <div class="more-product hide"><div class="title">{{'product.more_products'|translate:'{brand:"'+ product.name +'"}'}}</div></div>
  </form>
  <br /><br /><br />
</div>
