<div gray-page>
  <menu-top></menu-top>
  <div loader ng-show="loading"></div>
  <div class="row" ng-show="error">
    <br />
    <div class="col-xs-10 col-xs-offset-1 alert alert-danger alert-dismissible fade in" data-dismiss="alert" aria-label="Close">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      {{ '404.product' | translate }}
    </div>
  </div>
  <div class="page-product" ng-if="product">
    <div id="product-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#product-carousel" ng-repeat="image in images" data-slide-to="{{$index}}" ng-class="{active: $first}"></li>
      </ol>
      <div class="carousel-inner">
        <div ng-repeat="image in images" ng-class="{item: true, active: $first}">
          <img ng-src="{{image}}" style="width:100%">
        </div>
      </div>
    </div>
    <div class="like-share clearfix">
      <span class="number">849</span>
      <span class="share">{{'product.share'|translate}}</span>
    </div>
    <form role="form" class="product-form">
      <h2 class="clearfix">
        <span class="title"><span>{{product.name}}</span></span>
        <span class="price">
          <span ng-show="product.price._special">{{ product.price._special }} <span class="old">{{product.price._regular}}</span></span>
          <span ng-hide="product.price._special">{{ product.price._regular }} </span>
        </span>
      </h2>
      <div ng-repeat="option in options" class="option-chooses">
        <span class="pull-left">{{option._label}}</span>
        <span class="pull-right">
          <span ng-repeat="val in option.value" ng-class="{item: true, active: val.active == true}" ng-click="changeOption(option.value, val)">
            {{ val._label }}
          </span>
        </span>
      </div>
      <div class="option-chooses">
        <span class="pull-left">{{'product.quantity'|translate }}</span>
        <span class="pull-right">
          <span ng-click="quantity=(quantity-(quantity > 1))" class="item minus"></span>
          <input class="qty" readonly ng-init="quantity=1" ng-model="quantity" ng-value="quantity" />
          <span ng-click="quantity=(quantity+(quantity < 40))" class="item plus"></span>
        </span>
      </div>
      <div class="add-to-cart"><input type="submit" ng-value="'product.add'|translate"/></div>
      <div class="more-infomations">{{'product.more_information'|translate}}</div>
      <div class="more-product">
        <div class="title">{{'product.more_products'|translate:'{brand:"'+ product.name +'"}'}}</div>
      </div>
    </form>
  </div>
</div>
